* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
  }
  
.app {
    /* BRAND COLOR PALLETTE */ 
    --bg-white: #f8f8ff; 
    --bg-white-hover: #e2e2e6; 
    --bg-smoke: #f5f5f5;
    --bg-smoke-hover: #e3e1e1;
    --background-color: #f7f9f9ff;

    --accent1: #99c2bcff;
    --accent2: #9966ccff;
    --accent2-hover: #582490;
    --accent-lavender: #e6e6faff;
    --accent-lavender-hover: #b5b5d8;
    --text-gray: #2d3031;
    --text-white: #fff;
}
  
/* APP STYLINGS */
.main-content {
    display: flex; 
    flex-direction: row-reverse;
    height: 100vh;
    background-color: #f7f7f7;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 0 1.875rem 0.625rem; 
    font-size: 1.25rem; 
    color: var(--accent2);
}
  
.logo svg {
    margin-right: 5%; 
    fill: var(--accent2); 
}
  
/* TOOL BAR STYLINGS */
.tool-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem 0 0 0;
    width: 20%;
    height: 100vh;
    border-right: 0.1rem solid var(--accent-lavender);
    background-color: var(--bg-white);
    position: fixed;
    left: 0;
    top: 0;
}
  
.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1.875rem 0; 
    width: 100%; 
}
  
.settings-button, .conversation-button, .curriculum-button {
    display: flex;
    align-items: center;
    height: 7vh; 
    padding: 0.4rem 1.25rem;
    background-color: var(--bg-white);  
    color: var(--text-gray);
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    width: 100%; 
}
  
.settings-button svg, .conversation-button svg, .curriculum-button svg {
    margin-right: 5%; 
}
  
.settings-button:hover, .conversation-button:hover, .curriculum-button:hover {
    background-color: var(--bg-white-hover); 
}
  
.settings-icon, .conversation-icon, .curriculum-icon { 
    fill: var(--accent2);
}

.settings-button.current-page, .conversation-button.current-page, .curriculum-button.current-page {
    background-color: var(--accent2);
    color: var(--bg-smoke);
}

.settings-button.current-page svg path, .conversation-button.current-page svg path, .curriculum-button.current-page svg path{ 
    fill: var(--bg-smoke);
}
  
/* CHAT WINDOW SETTINGS */
.chat-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: var(--bg-white);
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden; /* Ensures content stays within viewport */
}
  
.chat-window {
    flex-grow: 1;
    padding: 0.625rem;
    overflow-y: auto;
    margin-top: 1em; 
    transition: max-height 0.2s ease; /* Controls height adjustment */
}

.chat-message-user, .chat-message-bot {
    padding: 0.625rem 1rem;
    margin-bottom: 0.625rem;
    max-width: 55%;
    border-radius: 1.125rem;
    line-height: 1.5;
}

.chat-message-user {
    background-color: var(--accent2);
    color: var(--text-white);
    margin-left: auto;
    text-align: left;
}
  
.chat-message-bot {
    background-color: var(--accent-lavender);
    color: var(--text-gray);
    margin-right: auto;
}
  
.inline { 
    background-color: var(--text-white);
    color: var(--accent2-hover);
    border-radius: 0.3em;
    padding: 4px 5px 6px;
}
  
.chat-input-container {
    display: flex;
    padding: 1rem;
    border-top: 1px solid var(--accent-lavender);
    background-color: var(--text-white);
    max-height: 20%;
    transition: height 0.2s ease; /* For smooth height adjustments */
}
  
.chat-input {
    flex-grow: 1;
    padding: 0.625rem;
    border: 1px solid #ddd;
    border-radius: 1.125rem;
    outline: none;
    font-size: 1em;
    resize: none;   /* Prevent automatic resizing of the input */
}
  
.send-button {
    margin-left: 0.625rem;
    padding: 0.625rem 1.25rem;
    background-color: var(--accent2);
    color: var(--text-white);
    border: none;
    border-radius: 1.125rem;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}
  
.send-button:hover {
    background-color: var(--accent2-hover);
    color: var(--accent-lavender);
}

.airplane{ 
    fill: var(--text-white);
}
  
.send-button:hover .airplane {
    fill: var(--accent-lavender);
}
  
.loading-indicator {
    color: #989898;
}
  
  
/* SETTINGS STYLINGS */
.Settings {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: var(--bg-white);
}
  
.user-settings {
    margin: 1rem;
}

/* CURRICULUM STYLINGS */
.Curriculum {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    background-color: var(--bg-white);
}

.CurriculumList {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 2.75rem 0 0 0rem;
    width: 15%;
    height: 100vh;
    /* border-right: 0.1rem solid var(--accent-lavender); */
    background-color: var(--accent-lavender);
    /* position: fixed; */
    left: 0;
    top: 0;
}

.document { 
    display: flex;
    align-items: center;
    height: 5vh; 
    padding: 0.5rem 0 0 1rem;
    color: var(--text-gray);
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.document:hover {
    background-color: var(--accent-lavender-hover); 
}

.document.selected {
    background-color: var(--accent2); 
    color: white;
}